
@media (min-width: 320px) and (max-width: 480px) {

.showcase-content {
  margin-top: 10rem;
}

.showcase-content p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}

.btn {
  padding: 10px;
}

.showcase-content h1 {
  font-size: 33px;
}

.text-r h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -95px;
  padding-bottom: 30px;
  padding-left: 22px;
}

.para{
  position: relative;
    top: -110px;
    text-align: center;
    /* width: 392px;  */
}

.pic1 img {
  height: auto;
  /* width: auto; */
  position: relative;
  left: 50px;
  bottom: 0px;
}

.pic img {
  height: auto;
  /* width: auto; */
  position: relative;
  left: -30px;
}
}

@media (min-width:480px) and (max-width:1130px){





}